In [45]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [6]:
dataset = pd.read_csv('nhefs_imp_pmm.csv')
dataset.head()

,seqnum,dead,num_rooms,income,age,race,sex,marital_status,education,weight,...,heaviest,lightest,aspirin,multivitamins,vitaminc,vitamina,vitamine,smokingcat,bmi,bmiclass
0,21886,0,5,19,31,1,2,2,41,50.119999,...,138,100,2,2,2,2,2,1,18.409550,1
1,24317,0,6,20,31,1,2,2,42,51.259998,...,149,124,1,2,2,2,2,1,18.011440,1
2,15049,1,8,13,57,1,1,3,28,44.000000,...,140,106,2,2,2,2,2,1,15.967485,1
3,3933,1,4,13,65,2,1,3,32,53.520000,...,155,109,2,2,2,2,2,3,18.324493,1
4,21890,1,1,13,64,1,1,2,25,46.720001,...,130,120,2,1,2,2,1,1,15.520434,1

In [9]:
#check for categorical value
dataset.dtypes

seqnum          int64
dead            int64
num_rooms       int64
income          int64
age             int64
               ...
vitamina        int64
vitamine        int64
smokingcat      int64
bmi           float64
bmiclass        int64
Length: 81, dtype: object

In [37]:
dataset.isna().any().sum()

0

In [ ]:
dataset["bmiclass"].value_counts()

# Random Forest

In [42]:
X = dataset.loc[:,dataset.columns != 'bmiclass']
y = dataset["bmiclass"]
X_train,X_test,y_train,y_test = train_test_split(X, y, test_size=0.2, random_state=42, shuffle = True)

In [43]:
rf_200 = RandomForestClassifier(n_estimators=200, random_state=42,max_features='auto')
rf_200.fit(X_train,y_train)

RandomForestClassifier(n_estimators=200, random_state=42)

In [44]:
y_train_pred_200 = rf_200.predict(X_train)
print('random forest model training accuracy score with 200 decision tree: {0:0.4f}'. format(accuracy_score(y_train, y_train_pred_200)))
y_test_pred_200 = rf_200.predict(X_test)
print('random forest model testing accuracy score with 200 decision tree: {0:0.4f}'. format(accuracy_score(y_test, y_test_pred_200)))

random forest model training accuracy score with 200 decision tree: 1.0000
random forest model testing accuracy score with 200 decision tree: 0.9951

In [46]:
confusion_matrix(y_test,y_test_pred_200)

array([[ 103,   10,    0,    0],
       [   0, 1335,    0,    0],
       [   0,    0,  971,    0],
       [   0,    0,    4,  459]])